.nav.nav-tabs .nav-item .nav-link::after {
    content: attr(data-before);
    height: 2px;
    width: 100%;
    left: 0%;
    position: absolute;
    bottom: 0;
    top: 100%;
    background: linear-gradient(30deg, #00CFE8, rgba(0, 207, 232, 0.5)) !important;
    box-shadow: 0 0 8px 0 rgba(0, 207, 232, 0.5) !important;
    transform: translateY(0px);
    transition: all 0.2s linear;
}

